# Pandas Tutorial (day-11)

This notebook explains How to Install Libraries

In [19]:
#pip install pandas
#pip install numpy

<span style="color:purple">
- Import Libraries
</span)>

In [20]:
import pandas as pd
import numpy as np

In [21]:
# Object Creation
s = pd.Series([1,3,np.nan,5,7,9])
s

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    9.0
dtype: float64

In [22]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [23]:

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -1.219782  2.050825 -0.816867 -0.929912
2013-01-02 -2.158168  0.363771 -0.914713  1.177241
2013-01-03 -0.019274 -1.047910 -0.766235 -0.699261
2013-01-04  1.327943 -0.792363 -1.664332  0.645595
2013-01-05  1.337024  1.079583  0.371153 -0.472369
2013-01-06 -1.110146 -0.641527 -1.258741  1.270729

In [24]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220111"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["girl", "woman", "girl", "woman"]),
        "F":  "females",
    }
)
df2

     A          B    C  D      E        F
0  1.0 2022-01-11  1.0  3   girl  females
1  1.0 2022-01-11  1.0  3  woman  females
2  1.0 2022-01-11  1.0  3   girl  females
3  1.0 2022-01-11  1.0  3  woman  females

In [26]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [27]:
df.head(2)

                   A         B         C         D
2013-01-01 -1.219782  2.050825 -0.816867 -0.929912
2013-01-02 -2.158168  0.363771 -0.914713  1.177241

In [28]:
df.tail(2)

                   A         B         C         D
2013-01-05  1.337024  1.079583  0.371153 -0.472369
2013-01-06 -1.110146 -0.641527 -1.258741  1.270729

In [30]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [32]:
df.to_numpy()

array([[-1.21978159,  2.05082525, -0.81686705, -0.92991225],
       [-2.15816812,  0.36377071, -0.91471267,  1.17724112],
       [-0.01927447, -1.0479098 , -0.76623525, -0.69926067],
       [ 1.327943  , -0.79236285, -1.66433209,  0.64559513],
       [ 1.3370237 ,  1.07958316,  0.3711525 , -0.47236855],
       [-1.11014626, -0.64152737, -1.25874134,  1.27072937]])

In [33]:
df2.to_numpy()

array([[1.0, Timestamp('2022-01-11 00:00:00'), 1.0, 3, 'girl', 'females'],
       [1.0, Timestamp('2022-01-11 00:00:00'), 1.0, 3, 'woman',
        'females'],
       [1.0, Timestamp('2022-01-11 00:00:00'), 1.0, 3, 'girl', 'females'],
       [1.0, Timestamp('2022-01-11 00:00:00'), 1.0, 3, 'woman',
        'females']], dtype=object)

In [34]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.307067  0.168730 -0.841623  0.165337
std    1.439700  1.222326  0.683125  0.982879
min   -2.158168 -1.047910 -1.664332 -0.929912
25%   -1.192373 -0.754654 -1.172734 -0.642538
50%   -0.564710 -0.138878 -0.865790  0.086613
75%    0.991139  0.900630 -0.778893  1.044330
max    1.337024  2.050825  0.371153  1.270729